
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 100%;
  background-color: #232626;
  color: white;
  overflow: hidden; 
}

body{
  font-size: 1rem;
}

#root {
  height: 100%;
  width: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 20px;
}

#main-content {
  flex: 1 1 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 15px;
  padding: 15px;
  margin-bottom: 10vh;
}

.login-button{
  position: fixed;
  top: 2vw;
  left: 2vw;
}

#logo-wrapper{
  flex: 1 1 10vh;
  margin-top: 20px;
  max-height: 100px;
  max-width: 100px;
}

#logo{
  width: 100%;
  height: 100%;
}

#map {
  width: 100%;
  position: relative;
  min-height: 100px;
  min-width: 300px;
  flex: 1 1 50vh;
  border: 1px red solid;
}

#map-img{
  width: 100%;
  height: 100%;;
}

.post {
  flex: 1 3 150px;
  min-width: 75px;
  min-height: 75px;
  max-height: 150px; 
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  margin-top: -200px;
  padding: 10px;
  border-radius: 12px;
  gap: 20px;
  background-color: black;
  color: #d6d3c7;
  font-family: 'Poppins', sans-serif;
  z-index: 999;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.post-header {
  flex: 1 1 80%;
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  font-size: 1rem;
  width: 100%;
  height: 100%;
}

.post-time{
  color:#e6bc17;
}

.post-title{
  font-weight: 500;
  font-size: 1.5rem;
}

.post-image{
  flex: 0 0 50px;
  align-self: center;
  width: 50px;
  height: 50px;
}

#thumbnail{
  width: 100%;
  height: 100%;
}

.expanded-post{
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  border-radius: 10px;
  gap: 10px;
  padding: 15px;
  z-index: 1000;
  background-color: #000000;
  font-family: 'Poppins', sans-serif;
}

#expanded-header{
  gap: 20px;
  margin: 20px;
  flex: 0 0;
}

.minimize-expanded{
  align-self: flex-end;
}

.post-video{
  border: 1px white solid;
  height: 500px;
  margin: 20px;
}

#yt-vid{
  height: 100%;
  width: 100%;
}

.expanded-transition-enter,
.expanded-transition-appear{
  top: 0;
  right: -400px;
  height: 100%;
  color: transparent;
  background-color: transparent;
}

.expanded-transition-enter-active,
.expanded-transition-appear-active {
  top: 0;
  right: 0;
  background-color: black;
  color: white;
  transition: all 400ms;
}

.expanded-transition-exit {
  top: 0;
  right: 0;
  background-color: black;
  color: white;
}
/* fires as element leaves the DOM*/
.expanded-transition-exit-active {
  top: 0;
  right: -400px;
  height: 100%;
  color: transparent;
  background-color: transparent;
  transition: all 400ms;
}

