
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 16px;
  background-color: #1D1E0F;
  color: #F3F9D2;
  /* overflow: hidden; */
}

#root {
  height: 100%;
  width: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 0 10px;
}

#main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 10px;
}

#logo{
  width: 150px;
  height: 150px;
}

#map {
  height: 800px;
  width: 1000px;
  border: 1px white solid;
}

.post {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 125px;
  border: 1px solid transparent;
  border-radius: 20px;
  gap: 20px;
  background-color: #000000;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.post-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.post-title{
  font-weight: 600;
  font-size: 1.5rem;
}

#thumbnail{
  width: 50px;
  height: 50px;
}

.expanded-post{
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  border: 1px solid transparent;
  border-radius: 20px;
  gap: 10px;
  padding: 10px;
  z-index: 1000;
  background-color: #000000;
}

#expanded-header{
  gap: 20px;
  margin: 20px;

}

#minimize-expanded{
  align-self: flex-end;
}

.post-video{
  border: 1px white solid;
  height: 500px;
  margin: 20px;
}

#yt-vid{
  height: 100%;
  width: 100%;
}
.mapboxgl-canvas {
    position: absolute !important;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
