
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
  font-size: 100%;
  background-color: #1c1c1e;
  color: white;
  overflow: hidden; 
}

body{
  font-size: 1rem;
}

#root {
  height: 100%;
  width: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 20px;
}

#main-content {
  flex: 1 1 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 15px;
  padding: 15px;
  margin-bottom: 10vh;
}

.login-button{
  position: fixed;
  top: 2vw;
  left: 2vw;
}

#user-container{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 2vw;
  left: 2vw;
  height: 32px;
}

#user-image{
  border-radius: 50%;
  width: 32px;
}

#welcome-text{
  margin-left: 10px;
  vertical-align: middle;
  font-size: 14px;
}



#logo-wrapper{
  flex: 1 1 10vh;
  margin-top: 20px;
  max-height: 100px;
  max-width: 100px;
}

#logo{
  width: 100%;
  height: 100%;
}

#map {
  width: 80%;
  min-height: 100px;
  min-width: 300px;
  flex: 1 1 50vh;
  border: 1px white solid;
}

#map-img{
  width: 100%;
  height: 100%;;
}

.map-pin{
  background-color: transparent;
  height: 50px;
  width: 50px;
  transition-timing-function: ease-in;
  transition: transform 0.51s;
}

.map-pin:active{
  transform: scale3d(2, 2, 5);
}

.post {
  flex: 1 3 150px;
  min-width: 75px;
  min-height: 75px;
  max-height: 150px; 
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  margin-top: -200px;
  padding: 10px;
  border-radius: 12px;
  gap: 20px;
  background-color: #1c1c1e;
  color: #d6d3c7;
  font-family: 'Poppins', sans-serif;
  z-index: 999;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.post-header {
  flex: 1 1 80%;
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  font-size: 1rem;
  width: 100%;
  height: 100%;
}

.post-time{
  color:#e6bc17;
}

.post-title{
  font-weight: 500;
  font-size: 1.5rem;
}

.post-image{
  flex: 0 0 50px;
  align-self: center;
  width: 50px;
  height: 50px;
}

#thumbnail{
  width: 100%;
  height: 100%;
}

.expanded-post{
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  border-radius: 10px;
  gap: 10px;
  padding: 15px;
  z-index: 1000;
  background-color: #000000;
  font-family: 'Poppins', sans-serif;
}

#expanded-header{
  gap: 20px;
  margin: 20px;
  flex: 0 0;
}

.minimize-expanded{
  align-self: flex-end;
}

.post-video{
  border: 1px white solid;
  height: 500px;
  margin: 20px;
}

#yt-vid{
  height: 100%;
  width: 100%;
}

.expanded-transition-enter,
.expanded-transition-appear{
  top: 0;
  right: -400px;
  height: 100%;
  color: transparent;
  background-color: transparent;
}

.expanded-transition-enter-active,
.expanded-transition-appear-active {
  top: 0;
  right: 0;
  background-color: black;
  color: white;
  transition: all 400ms;
}

.expanded-transition-exit {
  top: 0;
  right: 0;
  background-color: black;
  color: white;
}
/* fires as element leaves the DOM*/
.expanded-transition-exit-active {
  top: 0;
  right: -400px;
  height: 100%;
  color: transparent;
  background-color: transparent;
  transition: all 400ms;
}

#modal-overlay {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-modal {
  position: relative;
  background-color: #1c1c1e;
  color: white;
  flex: 0 1 300px;
  max-height: 450px;
  border-radius: 8px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#incident-form{
  max-height: 600px;
}

label {
  font-size: 0.75rem;
  color: #818185
}

.form-input{
  margin-top: 3px;
  padding: 8px;
  border-radius: 5px;
  width: 100%;
  background-color: #2c2c2e;
  color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.input-div{
  width: 100%;
}


#modal-close {
  position: absolute;
  right: 8px;
  top: 4px;
  font-size: 24px;
  cursor: pointer;
}

#button-container{
  width: 100%;
}

#button-container> button{
  width: 100%;
}

#signup-button{
  background-color: #3c6d20;
}
#signup-button:hover{
  background-color: #603aeb;
}
#login-button{
  background-color: #3dd48e;
}
#login-button:hover{
  background-color: #603aeb;
}

.form-button {
  font-size: 0.85rem;
  padding: 8px;
  margin-top: 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.exit-modal{
  position: absolute;
  top: 10px;
  right: 10px;
}

.exit-modal:hover{
  color: rgb(139, 22, 22);
}

#modal-logo-wrapper{
  margin-top: 20px;
  height: 50px;
  width: 50px;
}
